.custom {
  height: calc(100vh - 60px);
}

.errormsg{
  color:red;
}

.error{
  border: 2px solid red;
  padding-right: 0px;
  width:210px;
}

body {
  background: #eff0eb;
}

.scheduler-border {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
}

.scheduler-border:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.errorr {
  background:#ffecec url('../img/Close.png') no-repeat 10px 50%;
  border:1px solid #f5aca6;
}

.alert-box {
  color:#555;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:14px;
  padding:10px 36px;
  margin:10px;
}